//layout 공통
$headerHeight: 60px;
$footerHeight: 600px;
$mainMinHeight: calc( 100vh - (#{$headerHeight} + #{$footerHeight}) - 51px );

#wrap {
  width: $siteWidth;
  margin: 0 auto;
  #header {
    position: relative;
    height: 60px;
    z-index: 500;
    #top-logo {
      float: left;
      a {
        height: 60px;
        line-height: 60px;
      }
    }
    //top menu
    #top-nav {
      position: relative;
      height: 60px;
      float: right;
      ul {
        float: left;
        li {
          position: relative;
          float: left;
          margin-left: 30px;
          &:first-child {
            margin-left: 0;
          }
          &:hover{
            .sub-menu {
              opacity: 1;
              // width: 150px;
              li {
                height: 40px;
                opacity: 1;
              }
            }
          }
          a {
            width: 100%;
            height: 60px;
            line-height: 60px;
          }
          //submenu 구현
          .sub-menu {
            position: absolute;
            top: 100%;
            border: 1px solid $borderColorPrimary;
            opacity: 0;
            // width: 0;
            transition: .5s;
            li {
              margin: 0;
              min-width: 150px;
              width: 100%;
              height: 0;
              padding: 0 10px;
              box-sizing: border-box;
              background: white;
              opacity: 0;
              transition-duration: .5s;
              // transition-delay: .3s;
              a {
                line-height: 40px;
              }
            }
          }
        }
      }
    }
  }

  main {
    min-height: $mainMinHeight;
  }
  /* footer */
  #footer {
    margin-top: 50px;
    color: $fontColorPrimary;
    .footer-top {
      padding: 60px 0 30px;
    }
    & > .container {
      padding: 30px 0;
      text-align: center;
    }
    .container {
      margin: 0 auto;
      .row {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        .column {
          flex: 25%;
          box-sizing: border-box;
          padding: 0 10px;
          margin-bottom: 30px;
          &.footer-logo {
            flex: 180px;
            h3 {
              font-size: 34px;
              padding: 2px 0 2px 0;
              font-weight: 700;
              letter-spacing: 3px;
            }
          }
          &.news {
            input {
              &[type=search] {
                border: 0;
                padding: 6px 8px;
                width: 65%;
              }
              &[type=submit] {
                border: 0;
                padding: 6px 0;
                width: 35%;
                text-align: center;
                color: #ffffff;
                background: $gbtnColor;
                cursor: pointer;
              }
            }
          }
          h4 {
            position: relative;
            font-size: 14px;
            font-weight: 700;
            text-transform: uppercase;
            padding-bottom: 12px;
            margin-bottom: 20px;
            &:before, &:after {
              content: '';
              position: absolute;
              left: 0;
              bottom: 0;
              height: 2px;
            }
            &:before {
              right: 0;
              background: $borderBgColor;
            }
            &:after {
              width: 60px;
              background: $borderColorPrimary;
            }
          }
          ul {
            li {
              border-bottom: 1px solid $borderColorPrimary;
              padding: 10px 0;
              &:nth-child(1) {
                padding-top: 0;
              }
            }
          }
          p {
            line-height: 26px;
          }
        }
      }
    }
  }
}// #wrap end
