// 변수처리 하는곳

//site width
$siteWidth: 1320px;

//text size
$fontSizeSamll: 12px;
$fontSizeNormal: 16px;
$fontSizeMid: 18px;
$fontSizeBig: 21px;

//title text size
$titleFontSizeSmall: 21px;
$titleFontSizeNormal: 24px;
$titleFontSizeMid: 26px;
$titleFontSizeBig: 32px;

// color
// background color
$layoutBg: #fff3c4;
$tableBg: #b8944d;
$tableCellBg: #f0c87a;

// font color
$fontColorBasic: #666666;
$fontColorPrimary: #b8944d;
$fontColorHover: #e3a936;

//border color
$borderColorPrimary: #b8944d;
$borderBgColor: #997939;

//button color
$gbtnColor: #b8944d;
$gbtnColorHover: #e3a936;
